@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #20c95b;
}


@layer base{
  body{
      @apply bg-black
  }

  * {
      @apply font-Montserrat text-white text-lg 
  }
  .nav-link{
    @apply flex lg:items-center flex-col lg:flex-row px-1 lg:px-4 py-2 rounded-md group   border-l-4 border-transparent  hover:bg-gray hover:bg-opacity-10
  }
  .nav-active{
    @apply border-green bg-gray bg-opacity-10
  }
  .btn{
    @apply cursor-pointer md:text-center text-xs p-4 border-white border-2 rounded-full text-white py-1 hover:bg-white hover:text-black font-medium
  }
}
